<!DOCTYPE html>
<html lang="en">
<head>
    <title>Informasi Penularan Coronavirus Disease (COVID-19) - Indonesia</title>
    <!-- link -->
    <link rel="stylesheet" href="src/assets/bootstrap.min.css">
    <link rel="stylesheet" href="src/assets/style.css">
    <link rel="shortcut icon" href="src/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="src/images/covid-icon-128.png">
    <link rel="manifest" href="manifest.json">
    <!-- end link -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Informasi seputar penyebaran covid-19 di indonesia">
    <meta name="theme-color" content="#17a2b8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Informasi Covid-19 Indonesia">
    <meta name="msapplication-TileImage" content="src/images/covid-icon-144.png">
    <meta name="msapplication-TileColor" content="#004a75">
</head>
<body>
    <div id="app">
        <div 
            class="progress rounded-0"
            :style="loading.style"
            v-show="loading.status"
        >
            <div
                :class="`progress-bar w-${loading.value}`"
                role="progressbar"
                aria-valuemax="100"
                aria-valuemin="0"
            ></div>
        </div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                <a
                    class="navbar-brand"
                    @click="refresh"
                >
                    Informasi Terkini Penularan COVID-19 - Indonesia
                </a>
            </nav>
        </header>
        <section>
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-md">
                        <h5 class="text-center mb-3">
                            Update Tanggal: 
                            <div
                                class="spinner-grow text-dark"
                                role="status"
                                v-if="date === ''"
                            >
                                <span class="sr-only">Loading...</span>
                            </div>
                            <strong v-else v-text="date"></strong>
                        </h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Informasi penularan COVID-19 di Indonesia kami ambil dari Coronavirus COVID-19 Global Cases by CSSE at Johns Hopkins University, informasi lengkap klik <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank" rel="noreferrer">disini</a>
                            </li>
                            <li class="list-group-item">
                                Downloadable database: 
                                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank"
                                rel="noreferrer">GitHub</a>,
                                <a href="https://www.arcgis.com/home/item.html?id=c0b356e20b30490c8b8b4c7bb9554e7c" target="_blank" rel="noreferrer">Feature layer</a>,
                                <a href="https://pomber.github.io/covid19/timeseries.json" target="_blank" rel="noreferrer">JSON</a>.
                            </li>
                            <li class="list-group-item">
                                Otomatis update setiap hari
                            </li>
                            <li class="list-group-item">
                                Update tanggal berdasarkan (GMT+1)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md mb-3" v-for="(item, index) in dataArr" :key="index">
                        <div :class="['card shadow h-100', item.cardStyle]">
                            <div class="card-body pt-1 pb-1">
                                <div
                                    class="d-flex justify-content-center"
                                    v-if="item.value === 0"
                                >
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <h1 
                                    :class="['text-center display-4', item.textStyle]"
                                    v-else
                                    v-text="item.value"
                                ></h1>
                            </div>
                            <div class="card-footer pt-1 pb-1">
                                <h5 :class="['text-center', item.textStyle]" v-text="item.text"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-text">
                <p class="text-center">&copy; 2020 - Adnan Lutfi - Website Enthusiast</p>
            </div>
        </footer>
    </div>
    <!-- development mode -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production mode -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="src/main.js"></script>
    <script defer src="src/index.js"></script>
</body>
</html>